[Desktop Entry]
Encoding=UTF-8
Name=Thunderlink
Comment=Open Thunderlink URIs with Icedove
Exec=icedove -thunderlink %u
Terminal=false
X-MultipleArgs=false
NoDisplay=true
Type=Application
Categories=Network;Email;
MimeType=x-scheme-handler/thunderlink;
StartupNotify=true
Keywords=Mail;
