[Desktop Entry]
Name=Thunderlink
Comment=Open Thunderlink URIs with Thunderbird
Exec=thunderbird -thunderlink %u
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=x-scheme-handler/thunderlink
StartupNotify=true
NoDisplay=true
