[Desktop Entry]
Name=mid: scheme handler
Comment=Open mid: URIs with Thunderbird
Exec=thunderbird -thunderlink %u
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=x-scheme-handler/mid
StartupNotify=true
